.thevaluator {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.75);
    z-index: 999999999;
}

.thevaluator > .te_wrapper {
    width: 500px;
    display: table-cell;
    vertical-align: middle;
}

.thevaluator > .te_wrapper > .te_window {
    width: 500px;
    border-radius: 4px;
    margin: 0 auto;
    border: 1px solid #222222;
    background: #EEEEEE;
}

.thevaluator > .te_wrapper > .te_window header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
    border-color: #252525;
    text-align: center;
}

.thevaluator > .te_wrapper > .te_window header h1 {
    color: #999999;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.thevaluator > .te_wrapper > .te_window section {
    text-align: left;
    padding: 0 15px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.thevaluator > .te_wrapper > .te_window.thanks section h2 {
    text-align: center;
    margin: 20px 0;
    border: 0;
}

.thevaluator > .te_wrapper > .te_window section button {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006ccc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

    display: block;
    padding: 4px 12px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}