@import "components";

html,body {
    @extend .te_font;
    margin: 0;
    padding: 0;
    width:200px;
    background: #EEEEEE;
    color: #333333;
}

header {
    @extend .te_header;
    width: 100%;
}

h2 {
    font-size: 14px;
}
p {
    font-size: 12px;
}
section {
    text-align: center;
    padding: 0 10px;

    &.overview {
        text-align: left;
    }
}

input {
    @extend .te_input;
    width: 80%;
}
button {
    @extend .te_button;
    margin: 15px auto;
}

.overview {
    display: none;
}

strong {
    display: block;
    margin: 0 0 5px;
}